<!-- views/partials/footer.ejs -->
<!-- start footer -->
<!-- add after close of last section but still inside body-->
<footer>
  <div>
    <p>
      <a href="/">Home</a> <a href="/about">About</a>
      <a href="/search">Search </a>
    </p>
    <p>
      Copyright <a href="https://github.com/jajukajulz">Julian Kanjere</a> 2023
    </p>
  </div>
</footer>
<!-- end footer -->
